@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253 46 7);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.values {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.values p {
    font-size: 2rem;
    letter-spacing: -2px;
}

.smaller {
    font-size: 1.5rem;
}